:root{

    --amarelo:#F5E400;
    --azul:#232A84;
    --branco:#FFFFFF;
    --cinza:#F4F4F4;
    --texto:#222222;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:var(--branco);

    color:var(--texto);

    line-height:1.6;

}

header{

    background:var(--amarelo);

    padding:30px 20px 60px;

}

section{

    padding:70px 20px;

}

footer{

    background:var(--azul);

    color:#fff;

    padding:50px 20px;

}

.container{

    width:100%;

    max-width:1200px;

    margin:auto;

}
